<div class="product-modal">
    <div class="product-modal__body modal-body">
        <div class="modal-body__slider">
            <div class="page__product-slider product-slider">
                <div class="product-slider__body">
                    <div class="product-slider__slider">
                        <div class="slider-product__body swiper">
                            <div class="slider-product__slide">
                                <img src="@img/product1.jpg" alt="" />
                            </div>
                            <div class="slider-product__slide">
                                <img src="@img/product2.jpg" alt="" />
                            </div>
                        </div>

                        <div class="slider-product-controls">
                            <div class="slider-product-controls__arrows slider-arrows">
                                <button
                                    type="button"
                                    class="slider-arrow slider-arrow__prev icon-chevron__left"
                                ></button>
                                <button
                                    type="button"
                                    class="slider-arrow slider-arrow__next icon-chevron__right"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__thumb-slider thumb-slider">
                <div class="thumb-slider__body">
                    <div class="thumb-slider__slider">
                        <div class="slider-thumb__body swiper">
                            <div class="slider-thumb__slide">
                                <img src="@img/product1.jpg" alt="" />
                            </div>
                            <div class="slider-thumb__slide">
                                <img src="@img/product2.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-body__content">
            <h4 class="product-name">Repudiandae aperiam asperiores</h4>
            <h4 class="product-price">1200 MDL</h4>

            <p>
                Каждое изделие выполняется вручную tempore aliquam ipsum quia tenetur omnis
                laboriosam veritatis. Repellendus asperiores assumenda deleniti sint. Ullam nam iste
                necessitatibus. Consequuntur similique eius corporis. Quidem soluta debitis ipsum
                qui a ducimus sapiente. Voluptatem labore est iure animi velit.
            </p>
            <p>
                Каждое изделие выполняется вручную tempore aliquam ipsum quia tenetur omnis
                laboriosam veritatis. Repellendus asperiores assumenda deleniti sint. Ullam nam iste
                necessitatibus. Consequuntur similique eius corporis. Quidem soluta debitis ipsum
                qui a ducimus sapiente. Voluptatem labore est iure animi velit.
            </p>
            <button class="add-cart button button__dark added">
                <div class="icon-done"></div>
                Добавить в корзину
            </button>
        </div>
    </div>
    <button type="button" class="product-modal__close icon-close"></button>
</div>
