.page-introduction {
    display: flex;
    @include adaptiv-value('margin-bottom', 80, 40, 1);
    img {
        width: 50%;
        @media (max-width: $mobile) {
            width: 100%;
            &:last-child {
                display: none;
            }
        }
    }
}

.catalog {
    display: grid;
    grid-template-columns: 210px 1fr;
    grid-gap: 10px;
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
    &-sidebar {
        @include adaptiv-value('padding-left', 50, 0, 1);
        button.icon-close {
            position: absolute;
            top: 30px;
            right: 20px;
            font-size: 24px;
            display: none;
            @media (max-width: $mobile) {
                display: block;
            }
        }
        @media (max-width: $mobile) {
            position: fixed;
            width: 280px;
            background-color: #fff;
            top: 0;
            z-index: 10;
            height: 100%;
            padding-top: 70px;
            padding-bottom: 30px;
            overflow: auto;
            left: -280px;
            transition: 0.3s;
            &.open {
                left: 0;
            }
        }

        &__filters {
            &:not(:last-child) {
                @include adaptiv-value('margin-bottom', 50, 30, 1);
            }
            h6 {
                font-weight: 600;
                margin-bottom: 20px;
            }
            button {
                font-weight: 300;
                display: block;
                transition: 0.3s;
                &:not(:last-child) {
                    @include adaptiv-value('margin-bottom', 20, 10, 1);
                }
                &:hover {
                    color: $accentcolor;
                }
            }
        }
        .filters-checkbox {
            .checkbox-container {
                &:not(:last-child) {
                    @include adaptiv-value('margin-bottom', 20, 10, 1);
                }
            }
        }
    }
    &__container {
        width: calc(100% - 30px);
        .open-filter {
            display: none;

            @media (max-width: $mobile) {
                margin-top: 0;
                display: block;
                margin-bottom: 30px;
            }
        }
    }
    &__body {
        @include adaptiv-value('margin-bottom', 50, 30, 1);
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        @media (max-width: $mobileSmall) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
        @media (max-width: $mobile) {
            grid-gap: 30px 15px;
        }
        grid-gap: 70px 30px;
    }
}
