@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?aef8go');
    src: url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'icomoon' !important;
    color: $maincolor;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: '\e900';
}
.icon-bag:before {
    content: '\e901';
}
.icon-chevron__up:before {
    content: '\e902';
    display: inline-block;
    transform: rotate(-90deg);
}
.icon-chevron__down:before {
    content: '\e902';
    display: inline-block;
    transform: rotate(90deg);
}
.icon-chevron__left:before {
    content: '\e902';
    display: inline-block;
    transform: rotate(180deg);
}
.icon-chevron__right:before {
    content: '\e902';
}
.icon-close:before {
    content: '\e903';
}
.icon-instagram:before {
    content: '\e904';
}
.icon-remove:before {
    content: '\e905';
}
.icon-telegram:before {
    content: '\e906';
}
.icon-twitter:before {
    content: '\e907';
}
.icon-done:before {
    content: '\e908';
}
